<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="title" wmAnimate="landing" aos>Animate on scroll</h1>
      <p class="paragraph" wmAnimate="landing" aos>Scroll down <mat-icon aria-hidden="false"
          aria-label="Example home icon">arrow_downward</mat-icon>
      </p>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" wmAnimate="fadeInUp" aos>
        <div class="card-block">
          <div class="card-title">
            <h3>Card one</h3>
          </div>
          <div class="card-text">
            <p>Donec ut tellus sit amet lacus porttitor sollicitudin vel nec arcu. Nulla in lectus rhoncus, malesuada
              quam id, pretium
              ipsum. Nulla lobortis purus vitae urna vehicula fringilla. Nullam non magna eu leo commodo congue quis
              rhoncus urna.
              Mauris imperdiet lorem at enim fringilla feugiat. Donec ut eleifend massa. Sed sit amet placerat lacus.
              Cras diam eros,
              venenatis at purus et, luctus porta ligula. Suspendisse pharetra turpis sit amet elit consequat tempor non
              ac mi. Nunc
              sit amet lobortis diam, vel rutrum nisl. Etiam sollicitudin hendrerit orci, in venenatis elit sodales
              eget. Nullam ut
              massa id augue mattis condimentum non ut nulla. Etiam quis enim sapien. Quisque mattis, mauris quis
              consequat dignissim,
              mauris massa gravida nibh, et porttitor quam nisi sit amet tortor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" wmAnimate="fadeInUp" aos>
        <div class="card-block">
          <div class="card-title">
            <h3>Card two</h3>
          </div>
          <div class="card-text">
            <p>In purus nulla, placerat vel nulla sed, volutpat egestas massa. Aenean molestie enim magna, non
              ullamcorper sapien
              maximus in. Aliquam id interdum erat. Orci varius natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus
              mus. Maecenas blandit, libero sed volutpat blandit, dolor metus accumsan mauris, nec interdum velit ipsum
              non purus.
              Nunc facilisis scelerisque neque vel fermentum. Pellentesque eget felis tortor. Suspendisse et fringilla
              risus. Morbi
              sit amet nunc aliquam quam tincidunt posuere. Mauris risus nibh, mattis id ornare ac, iaculis sit amet
              est. Vestibulum
              non enim vel risus mollis porttitor. Donec tellus sem, gravida ac gravida consequat, auctor ac urna.
              Mauris vitae urna
              pretium, fermentum erat ut, eleifend ex. Aliquam eu massa cursus, hendrerit nunc nec, tincidunt sem.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" wmAnimate="fadeInUp" aos>
        <div class="card-block">
          <div class="card-title">
            <h3>Card three</h3>
          </div>
          <div class="card-text">
            <p>Donec ut tellus sit amet lacus porttitor sollicitudin vel nec arcu. Nulla in lectus rhoncus, malesuada
              quam id, pretium
              ipsum. Nulla lobortis purus vitae urna vehicula fringilla. Nullam non magna eu leo commodo congue quis
              rhoncus urna.
              Mauris imperdiet lorem at enim fringilla feugiat. Donec ut eleifend massa. Sed sit amet placerat lacus.
              Cras diam eros,
              venenatis at purus et, luctus porta ligula. Suspendisse pharetra turpis sit amet elit consequat tempor non
              ac mi. Nunc
              sit amet lobortis diam, vel rutrum nisl. Etiam sollicitudin hendrerit orci, in venenatis elit sodales
              eget. Nullam ut
              massa id augue mattis condimentum non ut nulla. Etiam quis enim sapien. Quisque mattis, mauris quis
              consequat dignissim,
              mauris massa gravida nibh, et porttitor quam nisi sit amet tortor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-5">
    <div class="col" wmAnimate="fadeInUp" aos>
      <h4>Cras vitae tellus accumsan, malesuada risus ut, pharetra felis</h4>
      <p>Proin consectetur in ipsum sit amet commodo. Nulla mollis urna porttitor elit malesuada, id iaculis turpis
        condimentum.
        Suspendisse rhoncus vulputate nibh et convallis. Nam gravida efficitur odio, ac laoreet neque. Duis imperdiet
        dapibus
        ante, id sodales enim commodo quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac turpis
        egestas. Donec sit amet quam a lacus rutrum dictum ac id ante. Aliquam tristique a enim vel pretium.</p>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">Button 1</button>
        <button type="button" class="btn btn-secondary">Button 2</button>
        <button type="button" class="btn btn-secondary">Button 3</button>
        <button type="button" class="btn btn-secondary">Button 4</button>
      </div>
    </div>
  </div>
  <div class="row p-5">
    <div class="col" wmAnimate="fadeInUp" aos>
      <h4>Cras vitae tellus accumsan, malesuada risus ut, pharetra felis</h4>
      <p>Proin consectetur in ipsum sit amet commodo. Nulla mollis urna porttitor elit malesuada, id iaculis turpis
        condimentum.
        Suspendisse rhoncus vulputate nibh et convallis. Nam gravida efficitur odio, ac laoreet neque. Duis imperdiet
        dapibus
        ante, id sodales enim commodo quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac turpis
        egestas. Donec sit amet quam a lacus rutrum dictum ac id ante. Aliquam tristique a enim vel pretium.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6 p-3">
      <img src="https://picsum.photos/1280/720" class="img-fluid rounded" wmAnimate="fadeInUp" aos />
    </div>
    <div class="col-md-12 col-lg-6 p-3">
      <img src="https://picsum.photos/1280/719" class="img-fluid rounded" wmAnimate="fadeInUp" aos />
    </div>
    <div class="col-md-12 col-lg-6 p-3">
      <img src="https://picsum.photos/1280/718" class="img-fluid rounded" wmAnimate="fadeInUp" aos />
    </div>
  </div>
</div>