@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

.jumbotron {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1.title {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.05em;
}

p.paragraph {
  font-size: 30px;
  margin-top: 30px;
}
